body {
  margin:0px;
  background-color:rgba(34, 74, 161, 0.996078431372549);
  background-image:none;
  position:static;
  left:auto;
  width:414px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2434 {
  position:absolute;
  left:45px;
  top:107px;
  visibility:hidden;
}
#u2434_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:330px;
  height:443px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2434_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2435_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:420px;
}
#u2435 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:23px;
  width:310px;
  height:420px;
  display:flex;
}
#u2435 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2435_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2436_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u2436 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:0px;
  width:50px;
  height:50px;
  display:flex;
  font-family:'Arial Black', 'Arial Normal', 'Arial', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:24px;
}
#u2436 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2436_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2437_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:40px;
  background:inherit;
  background-color:rgba(90, 34, 161, 0.996078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2437 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:414px;
  height:40px;
  display:flex;
  opacity:0.59;
}
#u2437 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2437_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2438 {
  position:absolute;
  left:10px;
  top:107px;
}
#u2438_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:130px;
  height:170px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2438_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2439_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:170px;
}
#u2439 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:170px;
  display:flex;
}
#u2439 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2439_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2440 {
  position:fixed;
  left:0px;
  top:40px;
}
#u2440_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:45px;
  height:35px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2440_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2441_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:30px;
}
#u2441 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:5px;
  width:35px;
  height:30px;
  display:flex;
}
#u2441 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2441_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2443 {
  position:fixed;
  left:1px;
  top:0px;
}
#u2443_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:414px;
  height:45px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2443_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2444_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2444 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:40px;
  display:flex;
}
#u2444 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2444_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2445_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:45px;
}
#u2445 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:0px;
  width:65px;
  height:45px;
  display:flex;
}
#u2445 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2445_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2446_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MV Boli Bold', 'MV Boli Normal', 'MV Boli', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u2446 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:4px;
  width:123px;
  height:38px;
  display:flex;
  font-family:'MV Boli Bold', 'MV Boli Normal', 'MV Boli', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u2446 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2446_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2447_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:32px;
}
#u2447 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:4px;
  width:30px;
  height:32px;
  display:flex;
}
#u2447 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2447_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2448 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:42px;
  width:189px;
  height:279px;
  visibility:hidden;
}
#u2448_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:279px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2448_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2449 {
  position:absolute;
  left:0px;
  top:35px;
}
#u2449_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:185px;
  height:233px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2449_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2450_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:233px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:-8px 10px 9px rgba(0, 0, 0, 0.847058823529412);
  -webkit-box-shadow:-8px 10px 9px rgba(0, 0, 0, 0.847058823529412);
  box-shadow:-8px 10px 9px rgba(0, 0, 0, 0.847058823529412);
  text-align:justify;
  text-justify:inter-word;
}
#u2450 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:233px;
  display:flex;
  text-align:justify;
  text-justify:inter-word;
}
#u2450 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2450_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2451_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:center;
}
#u2451 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:29px;
  width:149px;
  height:23px;
  display:flex;
  font-size:20px;
  text-align:center;
}
#u2451 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2451_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2452_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:center;
}
#u2452 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:72px;
  width:149px;
  height:23px;
  display:flex;
  font-size:20px;
  text-align:center;
}
#u2452 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2452_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2453_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:center;
}
#u2453 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:120px;
  width:149px;
  height:46px;
  display:flex;
  font-size:20px;
  text-align:center;
}
#u2453 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2453_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2454_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:center;
}
#u2454 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:184px;
  width:149px;
  height:23px;
  display:flex;
  font-size:20px;
  text-align:center;
}
#u2454 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2454_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2455 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:26px;
  width:175px;
  height:33px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2456 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:67px;
  width:175px;
  height:33px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2457 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:120px;
  width:175px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2458 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:179px;
  width:175px;
  height:33px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2459_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:2px;
}
#u2459 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:98px;
  width:189px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(0.343728829526626deg);
  -moz-transform:rotate(0.343728829526626deg);
  -ms-transform:rotate(0.343728829526626deg);
  transform:rotate(0.343728829526626deg);
}
#u2459 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2459_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2460_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:2px;
}
#u2460 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:60px;
  width:189px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(0.343728829526626deg);
  -moz-transform:rotate(0.343728829526626deg);
  -ms-transform:rotate(0.343728829526626deg);
  transform:rotate(0.343728829526626deg);
}
#u2460 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2460_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2461_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:2px;
}
#u2461 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:140px;
  width:189px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(0.343728829526626deg);
  -moz-transform:rotate(0.343728829526626deg);
  -ms-transform:rotate(0.343728829526626deg);
  transform:rotate(0.343728829526626deg);
}
#u2461 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2461_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2462_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:2px;
}
#u2462 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:152px;
  width:189px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(0.343728829526626deg);
  -moz-transform:rotate(0.343728829526626deg);
  -ms-transform:rotate(0.343728829526626deg);
  transform:rotate(0.343728829526626deg);
}
#u2462 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2462_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2463_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:2px;
}
#u2463 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:245px;
  width:189px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(0.343728829526626deg);
  -moz-transform:rotate(0.343728829526626deg);
  -ms-transform:rotate(0.343728829526626deg);
  transform:rotate(0.343728829526626deg);
}
#u2463 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2463_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2464_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:2px;
}
#u2464 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:287px;
  width:189px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(0.343728829526626deg);
  -moz-transform:rotate(0.343728829526626deg);
  -ms-transform:rotate(0.343728829526626deg);
  transform:rotate(0.343728829526626deg);
}
#u2464 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2464_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2465_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:2px;
}
#u2465 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:204px;
  width:189px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(0.343728829526626deg);
  -moz-transform:rotate(0.343728829526626deg);
  -ms-transform:rotate(0.343728829526626deg);
  transform:rotate(0.343728829526626deg);
}
#u2465 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2465_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2466_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:2px;
}
#u2466 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:216px;
  width:189px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(0.343728829526626deg);
  -moz-transform:rotate(0.343728829526626deg);
  -ms-transform:rotate(0.343728829526626deg);
  transform:rotate(0.343728829526626deg);
}
#u2466 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2466_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2467_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:2px;
}
#u2467 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:89px;
  width:189px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(0.343728829526626deg);
  -moz-transform:rotate(0.343728829526626deg);
  -ms-transform:rotate(0.343728829526626deg);
  transform:rotate(0.343728829526626deg);
}
#u2467 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2467_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2468 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:0px;
  width:64px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2469_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:rgba(255, 255, 255, 0.996078431372549);
}
#u2469 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:287px;
  width:300px;
  height:21px;
  display:flex;
  font-size:18px;
  color:rgba(255, 255, 255, 0.996078431372549);
}
#u2469 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2469_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2470_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:170px;
  background:inherit;
  background-color:rgba(153, 29, 183, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:-5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:-5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:-5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u2470 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:342px;
  width:393px;
  height:170px;
  display:flex;
  opacity:0.6;
}
#u2470 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2470_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2471 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:352px;
  width:375px;
  height:150px;
}
#u2471_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:150px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  background-color:rgba(255, 255, 255, 0.996078431372549);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2471_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2472_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u2472 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:150px;
  display:flex;
  font-size:15px;
}
#u2472 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2472_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2473_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:0px;
  width:403px;
  height:95px;
}
#u2473 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:517px;
  width:393px;
  height:85px;
  display:flex;
}
#u2473 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2473_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2474_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negrito', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:17px;
  color:#FFFBFB;
}
#u2474 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:522px;
  width:140px;
  height:20px;
  display:flex;
  font-family:'Arial Negrito', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:17px;
  color:#FFFBFB;
}
#u2474 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2474_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2475_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negrito', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:17px;
  color:#FFFBFB;
  text-align:right;
}
#u2475 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:522px;
  width:10px;
  height:20px;
  display:flex;
  opacity:0.8;
  font-family:'Arial Negrito', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:17px;
  color:#FFFBFB;
  text-align:right;
}
#u2475 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2475_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2476_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negrito', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:17px;
  color:#FFFBFB;
}
#u2476 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:560px;
  width:188px;
  height:20px;
  display:flex;
  font-family:'Arial Negrito', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:17px;
  color:#FFFBFB;
}
#u2476 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2476_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2477_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negrito', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:17px;
  color:#FFFBFB;
  text-align:right;
}
#u2477 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:560px;
  width:10px;
  height:20px;
  display:flex;
  font-family:'Arial Negrito', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:17px;
  color:#FFFBFB;
  text-align:right;
}
#u2477 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2477_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2478_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2478 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:107px;
  width:255px;
  height:170px;
  display:flex;
}
#u2478 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2478_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2479_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negrito', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u2479 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:174px;
  width:231px;
  height:20px;
  display:flex;
  font-family:'Arial Negrito', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u2479 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2479_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2480_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negrito', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u2480 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:223px;
  width:99px;
  height:17px;
  display:flex;
  font-family:'Arial Negrito', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u2480 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2480_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2481_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negrito', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#12123C;
}
#u2481 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:117px;
  width:146px;
  height:37px;
  display:flex;
  font-family:'Arial Negrito', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#12123C;
}
#u2481 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2481_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2483 {
  position:fixed;
  left:1px;
  top:0px;
}
#u2483_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:414px;
  height:45px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2483_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2484_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2484 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:40px;
  display:flex;
}
#u2484 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2484_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2485_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:45px;
}
#u2485 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:0px;
  width:65px;
  height:45px;
  display:flex;
}
#u2485 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2485_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2486_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MV Boli Bold', 'MV Boli Normal', 'MV Boli', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u2486 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:4px;
  width:123px;
  height:38px;
  display:flex;
  font-family:'MV Boli Bold', 'MV Boli Normal', 'MV Boli', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u2486 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2486_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2487_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:32px;
}
#u2487 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:4px;
  width:30px;
  height:32px;
  display:flex;
}
#u2487 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2487_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2488 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:42px;
  width:189px;
  height:279px;
  visibility:hidden;
}
#u2488_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:279px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2488_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2489 {
  position:absolute;
  left:0px;
  top:35px;
}
#u2489_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:185px;
  height:233px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2489_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2490_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:233px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:-8px 10px 9px rgba(0, 0, 0, 0.847058823529412);
  -webkit-box-shadow:-8px 10px 9px rgba(0, 0, 0, 0.847058823529412);
  box-shadow:-8px 10px 9px rgba(0, 0, 0, 0.847058823529412);
  text-align:justify;
  text-justify:inter-word;
}
#u2490 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:233px;
  display:flex;
  text-align:justify;
  text-justify:inter-word;
}
#u2490 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2490_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2491_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:center;
}
#u2491 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:29px;
  width:149px;
  height:23px;
  display:flex;
  font-size:20px;
  text-align:center;
}
#u2491 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2491_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2492_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:center;
}
#u2492 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:72px;
  width:149px;
  height:23px;
  display:flex;
  font-size:20px;
  text-align:center;
}
#u2492 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2492_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2493_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:center;
}
#u2493 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:120px;
  width:149px;
  height:46px;
  display:flex;
  font-size:20px;
  text-align:center;
}
#u2493 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2493_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2494_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:center;
}
#u2494 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:184px;
  width:149px;
  height:23px;
  display:flex;
  font-size:20px;
  text-align:center;
}
#u2494 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2494_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2495 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:26px;
  width:175px;
  height:33px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2496 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:67px;
  width:175px;
  height:33px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2497 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:108px;
  width:175px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2498 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:179px;
  width:175px;
  height:33px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2499_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:2px;
}
#u2499 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:98px;
  width:189px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(0.343728829526626deg);
  -moz-transform:rotate(0.343728829526626deg);
  -ms-transform:rotate(0.343728829526626deg);
  transform:rotate(0.343728829526626deg);
}
#u2499 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2499_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2500_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:2px;
}
#u2500 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:60px;
  width:189px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(0.343728829526626deg);
  -moz-transform:rotate(0.343728829526626deg);
  -ms-transform:rotate(0.343728829526626deg);
  transform:rotate(0.343728829526626deg);
}
#u2500 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2500_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2501_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:2px;
}
#u2501 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:140px;
  width:189px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(0.343728829526626deg);
  -moz-transform:rotate(0.343728829526626deg);
  -ms-transform:rotate(0.343728829526626deg);
  transform:rotate(0.343728829526626deg);
}
#u2501 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2501_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2502_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:2px;
}
#u2502 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:152px;
  width:189px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(0.343728829526626deg);
  -moz-transform:rotate(0.343728829526626deg);
  -ms-transform:rotate(0.343728829526626deg);
  transform:rotate(0.343728829526626deg);
}
#u2502 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2502_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2503_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:2px;
}
#u2503 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:245px;
  width:189px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(0.343728829526626deg);
  -moz-transform:rotate(0.343728829526626deg);
  -ms-transform:rotate(0.343728829526626deg);
  transform:rotate(0.343728829526626deg);
}
#u2503 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2503_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2504_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:2px;
}
#u2504 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:287px;
  width:189px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(0.343728829526626deg);
  -moz-transform:rotate(0.343728829526626deg);
  -ms-transform:rotate(0.343728829526626deg);
  transform:rotate(0.343728829526626deg);
}
#u2504 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2504_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2505_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:2px;
}
#u2505 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:204px;
  width:189px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(0.343728829526626deg);
  -moz-transform:rotate(0.343728829526626deg);
  -ms-transform:rotate(0.343728829526626deg);
  transform:rotate(0.343728829526626deg);
}
#u2505 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2505_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2506_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:2px;
}
#u2506 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:216px;
  width:189px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(0.343728829526626deg);
  -moz-transform:rotate(0.343728829526626deg);
  -ms-transform:rotate(0.343728829526626deg);
  transform:rotate(0.343728829526626deg);
}
#u2506 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2506_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2507_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:2px;
}
#u2507 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:89px;
  width:189px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(0.343728829526626deg);
  -moz-transform:rotate(0.343728829526626deg);
  -ms-transform:rotate(0.343728829526626deg);
  transform:rotate(0.343728829526626deg);
}
#u2507 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2507_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2508 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:0px;
  width:64px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2509_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0C0C;
}
#u2509 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:607px;
  width:70px;
  height:40px;
  display:flex;
  color:#FF0C0C;
}
#u2509 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2509_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2510_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2510 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:607px;
  width:97px;
  height:40px;
  display:flex;
}
#u2510 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2510_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2511 {
  position:absolute;
  left:40px;
  top:277px;
  visibility:hidden;
}
#u2511_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:315px;
  height:173px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2511_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2512_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:150px;
  background:inherit;
  background-color:rgba(251, 9, 9, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#DFC9C9;
}
#u2512 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:23px;
  width:300px;
  height:150px;
  display:flex;
  color:#DFC9C9;
}
#u2512 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2512_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2513_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negrito', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2513 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:37px;
  width:107px;
  height:37px;
  display:flex;
  font-family:'Arial Negrito', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2513 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2513_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2514_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negrito', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2514 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:123px;
  width:224px;
  height:42px;
  display:flex;
  font-family:'Arial Negrito', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2514 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2514_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2515_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u2515 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:0px;
  width:60px;
  height:60px;
  display:flex;
  font-size:38px;
  color:#FFF6F6;
}
#u2515 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2515_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2516 {
  position:absolute;
  left:50px;
  top:287px;
  visibility:hidden;
}
#u2516_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:315px;
  height:173px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2516_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2517_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:150px;
  background:inherit;
  background-color:rgba(39, 98, 9, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#DFC9C9;
}
#u2517 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:23px;
  width:300px;
  height:150px;
  display:flex;
  color:#DFC9C9;
}
#u2517 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2517_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2518_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:37px;
  background:inherit;
  background-color:rgba(39, 98, 9, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negrito', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2518 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:37px;
  width:91px;
  height:37px;
  display:flex;
  font-family:'Arial Negrito', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2518 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2518_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2519_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:63px;
  background:inherit;
  background-color:rgba(39, 98, 9, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negrito', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2519 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:90px;
  width:224px;
  height:63px;
  display:flex;
  font-family:'Arial Negrito', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2519 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2519_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2520_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u2520 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:0px;
  width:60px;
  height:60px;
  display:flex;
  font-size:38px;
  color:#FFF6F6;
}
#u2520 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2520_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2521_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2521 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:607px;
  width:140px;
  height:40px;
  display:flex;
}
#u2521 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2521_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
