body {
  margin:0px;
  background-color:rgba(255, 33, 33, 1);
  background-image:none;
  position:static;
  left:auto;
  width:414px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1800 {
  position:fixed;
  left:1px;
  top:0px;
}
#u1800_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:414px;
  height:45px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1800_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1801_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1801 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:40px;
  display:flex;
}
#u1801 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1801_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1802_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:45px;
}
#u1802 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:0px;
  width:65px;
  height:45px;
  display:flex;
}
#u1802 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1802_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1803_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MV Boli Bold', 'MV Boli Normal', 'MV Boli', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u1803 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:4px;
  width:123px;
  height:38px;
  display:flex;
  font-family:'MV Boli Bold', 'MV Boli Normal', 'MV Boli', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u1803 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1803_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1804_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:32px;
}
#u1804 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:4px;
  width:30px;
  height:32px;
  display:flex;
}
#u1804 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1804_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1805 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:42px;
  width:189px;
  height:279px;
  visibility:hidden;
}
#u1805_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:279px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1805_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1806 {
  position:absolute;
  left:0px;
  top:35px;
}
#u1806_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:185px;
  height:233px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1806_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1807_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:233px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:-8px 10px 9px rgba(0, 0, 0, 0.847058823529412);
  -webkit-box-shadow:-8px 10px 9px rgba(0, 0, 0, 0.847058823529412);
  box-shadow:-8px 10px 9px rgba(0, 0, 0, 0.847058823529412);
  text-align:justify;
  text-justify:inter-word;
}
#u1807 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:233px;
  display:flex;
  text-align:justify;
  text-justify:inter-word;
}
#u1807 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1807_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1808_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:center;
}
#u1808 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:29px;
  width:149px;
  height:23px;
  display:flex;
  font-size:20px;
  text-align:center;
}
#u1808 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1808_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1809_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:center;
}
#u1809 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:72px;
  width:149px;
  height:23px;
  display:flex;
  font-size:20px;
  text-align:center;
}
#u1809 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1809_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1810_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:center;
}
#u1810 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:120px;
  width:149px;
  height:46px;
  display:flex;
  font-size:20px;
  text-align:center;
}
#u1810 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1810_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1811_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:center;
}
#u1811 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:184px;
  width:149px;
  height:23px;
  display:flex;
  font-size:20px;
  text-align:center;
}
#u1811 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1811_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1812 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:26px;
  width:175px;
  height:33px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1813 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:67px;
  width:175px;
  height:33px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1814 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:120px;
  width:175px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1815 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:179px;
  width:175px;
  height:33px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1816_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:2px;
}
#u1816 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:98px;
  width:189px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(0.343728829526626deg);
  -moz-transform:rotate(0.343728829526626deg);
  -ms-transform:rotate(0.343728829526626deg);
  transform:rotate(0.343728829526626deg);
}
#u1816 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1816_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1817_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:2px;
}
#u1817 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:60px;
  width:189px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(0.343728829526626deg);
  -moz-transform:rotate(0.343728829526626deg);
  -ms-transform:rotate(0.343728829526626deg);
  transform:rotate(0.343728829526626deg);
}
#u1817 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1817_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1818_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:2px;
}
#u1818 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:140px;
  width:189px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(0.343728829526626deg);
  -moz-transform:rotate(0.343728829526626deg);
  -ms-transform:rotate(0.343728829526626deg);
  transform:rotate(0.343728829526626deg);
}
#u1818 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1818_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1819_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:2px;
}
#u1819 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:152px;
  width:189px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(0.343728829526626deg);
  -moz-transform:rotate(0.343728829526626deg);
  -ms-transform:rotate(0.343728829526626deg);
  transform:rotate(0.343728829526626deg);
}
#u1819 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1819_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1820_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:2px;
}
#u1820 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:245px;
  width:189px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(0.343728829526626deg);
  -moz-transform:rotate(0.343728829526626deg);
  -ms-transform:rotate(0.343728829526626deg);
  transform:rotate(0.343728829526626deg);
}
#u1820 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1820_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1821_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:2px;
}
#u1821 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:287px;
  width:189px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(0.343728829526626deg);
  -moz-transform:rotate(0.343728829526626deg);
  -ms-transform:rotate(0.343728829526626deg);
  transform:rotate(0.343728829526626deg);
}
#u1821 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1821_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1822_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:2px;
}
#u1822 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:204px;
  width:189px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(0.343728829526626deg);
  -moz-transform:rotate(0.343728829526626deg);
  -ms-transform:rotate(0.343728829526626deg);
  transform:rotate(0.343728829526626deg);
}
#u1822 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1822_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1823_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:2px;
}
#u1823 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:216px;
  width:189px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(0.343728829526626deg);
  -moz-transform:rotate(0.343728829526626deg);
  -ms-transform:rotate(0.343728829526626deg);
  transform:rotate(0.343728829526626deg);
}
#u1823 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1823_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1824_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:2px;
}
#u1824 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:89px;
  width:189px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(0.343728829526626deg);
  -moz-transform:rotate(0.343728829526626deg);
  -ms-transform:rotate(0.343728829526626deg);
  transform:rotate(0.343728829526626deg);
}
#u1824 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1824_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1825 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:0px;
  width:64px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1826_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:40px;
  background:inherit;
  background-color:rgba(90, 34, 161, 0.996078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1826 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:414px;
  height:40px;
  display:flex;
  opacity:0.59;
}
#u1826 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1826_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1827_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:30px;
}
#u1827 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:45px;
  width:35px;
  height:30px;
  display:flex;
}
#u1827 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1827_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1828_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:290px;
}
#u1828 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:115px;
  width:347px;
  height:290px;
  display:flex;
}
#u1828 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1828_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1829_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negrito', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u1829 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:235px;
  width:153px;
  height:37px;
  display:flex;
  font-family:'Arial Negrito', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u1829 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1829_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1830_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negrito', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u1830 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:272px;
  width:333px;
  height:65px;
  display:flex;
  font-family:'Arial Negrito', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u1830 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1830_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1831_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1831 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:337px;
  width:300px;
  height:60px;
  display:flex;
}
#u1831 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1831_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1832_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:76px;
}
#u1832 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:90px;
  width:76px;
  height:76px;
  display:flex;
  font-family:'Arial Black', 'Arial Normal', 'Arial', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:30px;
}
#u1832 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1832_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1833_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negrito', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u1833 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:190px;
  width:139px;
  height:37px;
  display:flex;
  font-family:'Arial Negrito', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u1833 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1833_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1834 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:90px;
  width:76px;
  height:76px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1836 {
  position:fixed;
  left:1px;
  top:0px;
}
#u1836_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:414px;
  height:45px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1836_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1837_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1837 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:40px;
  display:flex;
}
#u1837 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1837_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1838_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:45px;
}
#u1838 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:0px;
  width:65px;
  height:45px;
  display:flex;
}
#u1838 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1838_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1839_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MV Boli Bold', 'MV Boli Normal', 'MV Boli', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u1839 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:4px;
  width:123px;
  height:38px;
  display:flex;
  font-family:'MV Boli Bold', 'MV Boli Normal', 'MV Boli', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u1839 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1839_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1840_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:32px;
}
#u1840 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:4px;
  width:30px;
  height:32px;
  display:flex;
}
#u1840 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1840_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1841 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:42px;
  width:189px;
  height:279px;
  visibility:hidden;
}
#u1841_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:279px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1841_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1842 {
  position:absolute;
  left:0px;
  top:35px;
}
#u1842_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:185px;
  height:233px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1842_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1843_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:233px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:-8px 10px 9px rgba(0, 0, 0, 0.847058823529412);
  -webkit-box-shadow:-8px 10px 9px rgba(0, 0, 0, 0.847058823529412);
  box-shadow:-8px 10px 9px rgba(0, 0, 0, 0.847058823529412);
  text-align:justify;
  text-justify:inter-word;
}
#u1843 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:233px;
  display:flex;
  text-align:justify;
  text-justify:inter-word;
}
#u1843 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1843_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1844_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:center;
}
#u1844 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:29px;
  width:149px;
  height:23px;
  display:flex;
  font-size:20px;
  text-align:center;
}
#u1844 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1844_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1845_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:center;
}
#u1845 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:72px;
  width:149px;
  height:23px;
  display:flex;
  font-size:20px;
  text-align:center;
}
#u1845 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1845_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1846_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:center;
}
#u1846 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:120px;
  width:149px;
  height:46px;
  display:flex;
  font-size:20px;
  text-align:center;
}
#u1846 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1846_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1847_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:center;
}
#u1847 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:184px;
  width:149px;
  height:23px;
  display:flex;
  font-size:20px;
  text-align:center;
}
#u1847 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1847_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1848 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:26px;
  width:175px;
  height:33px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1849 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:67px;
  width:175px;
  height:33px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1850 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:108px;
  width:175px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1851 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:179px;
  width:175px;
  height:33px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1852_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:2px;
}
#u1852 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:98px;
  width:189px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(0.343728829526626deg);
  -moz-transform:rotate(0.343728829526626deg);
  -ms-transform:rotate(0.343728829526626deg);
  transform:rotate(0.343728829526626deg);
}
#u1852 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1852_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1853_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:2px;
}
#u1853 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:60px;
  width:189px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(0.343728829526626deg);
  -moz-transform:rotate(0.343728829526626deg);
  -ms-transform:rotate(0.343728829526626deg);
  transform:rotate(0.343728829526626deg);
}
#u1853 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1853_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1854_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:2px;
}
#u1854 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:140px;
  width:189px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(0.343728829526626deg);
  -moz-transform:rotate(0.343728829526626deg);
  -ms-transform:rotate(0.343728829526626deg);
  transform:rotate(0.343728829526626deg);
}
#u1854 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1854_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1855_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:2px;
}
#u1855 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:152px;
  width:189px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(0.343728829526626deg);
  -moz-transform:rotate(0.343728829526626deg);
  -ms-transform:rotate(0.343728829526626deg);
  transform:rotate(0.343728829526626deg);
}
#u1855 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1855_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1856_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:2px;
}
#u1856 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:245px;
  width:189px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(0.343728829526626deg);
  -moz-transform:rotate(0.343728829526626deg);
  -ms-transform:rotate(0.343728829526626deg);
  transform:rotate(0.343728829526626deg);
}
#u1856 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1856_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1857_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:2px;
}
#u1857 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:287px;
  width:189px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(0.343728829526626deg);
  -moz-transform:rotate(0.343728829526626deg);
  -ms-transform:rotate(0.343728829526626deg);
  transform:rotate(0.343728829526626deg);
}
#u1857 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1857_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1858_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:2px;
}
#u1858 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:204px;
  width:189px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(0.343728829526626deg);
  -moz-transform:rotate(0.343728829526626deg);
  -ms-transform:rotate(0.343728829526626deg);
  transform:rotate(0.343728829526626deg);
}
#u1858 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1858_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1859_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:2px;
}
#u1859 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:216px;
  width:189px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(0.343728829526626deg);
  -moz-transform:rotate(0.343728829526626deg);
  -ms-transform:rotate(0.343728829526626deg);
  transform:rotate(0.343728829526626deg);
}
#u1859 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1859_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1860_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:2px;
}
#u1860 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:89px;
  width:189px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(0.343728829526626deg);
  -moz-transform:rotate(0.343728829526626deg);
  -ms-transform:rotate(0.343728829526626deg);
  transform:rotate(0.343728829526626deg);
}
#u1860 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1860_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1861 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:0px;
  width:64px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
